$desaturated-blue: #303f60;
$moderate-blue: #4d618e;
$light-blue: #43afff;
$very-light-blue: #43afff33;
$pale-blue: #edf6ff;
$very-pale-blue: #d9efff;
$white: #fff;
$shadow-color: #557da526;
$light-grey: #c6c6c6;
$red: #ff0000;
$very-light-grey: #e8e8e833;
$modal-background: rgba(0, 0, 0, 0.4);
$grey-background: rgba(169, 175, 188, 0.2);
$grey-border: #303f6080;
$pagination-color: #7b7f9b;
