@import './colors.scss';

.title {
    color: $white;

    span {
        color: $light-blue;
    }
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid $light-blue;
    width: fit-content;

    p {
        color: $white;
        font-weight: 500;
    }
}

%form-background {
    position: absolute;
    background-color: $desaturated-blue;
    height: 17rem;
    width: 100%;
}

%home-icon-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 24px;

    img {
        margin-right: 6px;
    }

    p {
        font-weight: 500;
        color: $white;
        font-size: 12px;
        opacity: 0.8;
    }
}

%display-center {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 6rem;
    padding-bottom: 2rem;
}

%inner-conatainer {
    background-color: $white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 30px 36px $shadow-color;
    width: 557px;
}

%form-title {
    font-size: 22px;
    color: $desaturated-blue;
    font-weight: 500;
}

%input-field {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
        font-size: 14px;
        color: $desaturated-blue;
        margin-bottom: 10px;
    }

    .link {
        color: $light-blue;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
    }
}

%error-text {
    display: flex;
    align-self: flex-end;
    color: $red;
    font-size: 12px;
    opacity: 0.8;
    margin-top: 8px;
}

%btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    div {
        padding: 13px 53px;
    }
}

%form-bottom-link {
    display: flex;
    margin-top: 50px;
    justify-content: center;

    p {
        font-size: 16px;
        color: $desaturated-blue;

        span {
            color: $light-blue;
            cursor: pointer;
            font-weight: 500;
        }
    }
}
