@import '../../../../assets/scss/colors.scss';
@import '../../../../assets/scss/general.scss';

.modalWindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background-color: $modal-background;

    .modalContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background: $white;
        border-radius: 20px;

        .modalHeader {
            padding-bottom: 20px;
            border-bottom: 1px solid $light-grey;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: $desaturated-blue;
                font-size: 19px;
            }

            .modalClose {
                cursor: pointer;

                img {
                    height: 15px;
                }
            }
        }

        .modalBody {
            margin-top: 10px;

            .numberOfApplications {
                color: $desaturated-blue;
                font-size: 15px;
            }

            .applicationList {
                background-color: $grey-background;
                border-radius: 10px;
                padding: 10px;
                margin-top: 10px;
            }

            .zero {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 650px;
                height: 400px;

                img {
                    margin-bottom: 20px;
                }

                p {
                    color: $desaturated-blue;
                    font-size: 20px;
                    opacity: 0.8;
                    text-align: center;
                }
            }

            .notZero {
                display: flex;
                width: 650px;
                // height: 400px;
                flex-wrap: wrap;
                overflow: auto;
                justify-content: space-between;
            }

            .applicant {
                background-color: $white;
                padding: 15px;
                border-radius: 5px;
                border: 1px solid $grey-border;
                margin-bottom: 20px;
                width: 44%;

                .applicantDetail {
                    display: flex;
                    align-items: center;

                    .profilePicture {
                        margin-right: 20px;

                        div {
                            background-color: $very-pale-blue;
                            padding: 12px 17px;
                            border-radius: 50%;

                            p {
                                font-size: 1rem;
                                color: $desaturated-blue;
                                opacity: 0.8;
                            }
                        }
                    }

                    .otherDetails {
                        max-width: 15rem;
                        hyphens: auto;
                        overflow: hidden;

                        .name,
                        .email {
                            color: $desaturated-blue;
                            font-size: 15px;

                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3; /* number of lines to show */
                            -webkit-box-orient: vertical;
                        }

                        .email {
                            white-space: unset;
                            text-overflow: unset;
                            overflow: unset;

                            overflow-wrap: break-word;

                            opacity: 0.8;
                            margin-top: 10px;
                        }
                    }
                }

                .skills {
                    margin-top: 20px;
                    position: relative;

                    .skillTitle {
                        color: $desaturated-blue;
                        font-size: 13px;
                    }

                    .skillList {
                        color: $desaturated-blue;
                        opacity: 0.8;
                        font-size: 15px;
                        margin-top: 5px;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }

                    .skills-tooltip {
                        position: absolute;
                        visibility: hidden;
                        background-color: #e8e8e8;
                        z-index: 1;
                        padding: 2px 8px;
                        border-radius: 6px;
                        font-size: 11px;
                        color: #303f60;
                    }

                    &:hover .skills-tooltip {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

@media (max-width: 770px) {
    .modalWindow .modalContainer .modalBody {
        .notZero,
        .zero {
            width: auto;
            height: 250px;
        }

        .applicant {
            width: unset;
        }
    }
}

@media screen and (max-width: 390px) {
    .modalWindow .modalContainer .modalBody .notZero {
        .name,
        .email {
            width: 6rem;
        }
    }
}
