@font-face {
    font-family: Poppins;
    src: url('./Poppins-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    src: url('./Poppins-Italic.ttf');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('./Poppins-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    font-style: italic;
    src: url('./Poppins-MediumItalic.ttf');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('./Poppins-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    src: url('./Poppins-BoldItalic.ttf');
    font-display: swap;
}
