.pageNotFound {
    background: url(https://kicksdigitalmarketing.com/wp-content/uploads/2019/09/iStock-1142986365.jpg);
    height: calc(100vh - 92px);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
        transform: translateY(9rem);
    }
}
