@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.jobCard {
    background-color: $white;
    margin: 10px;
    padding: 15px;
    // width: 14rem;
    border-radius: 5px;
    box-shadow: 0px 3px 6px $shadow-color;
    color: $desaturated-blue;

    .jobCardUpperConatiner {
        .jobTitle {
            font-size: 17px;
            margin-bottom: 10px;
        }

        .jobDescription {
            font-size: 14px;
            line-height: 1.5;
            opacity: 0.8;

            height: 64px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }

    .jobCardBottomContainer {
        // display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;

        display: grid;
        grid-template-columns: 1fr 2fr;

        position: relative;

        margin-top: 1rem;

        .location-tootip-container {
            .location {
                display: flex;
                align-items: center;
                max-width: 4rem;
                margin-right: 10px;

                img {
                    margin-right: 0.3rem;
                }

                .locationName {
                    position: relative;
                    font-size: 14px;
                    opacity: 0.8;

                    // overflow: hidden;
                    overflow-x: auto;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }

            .location-tooltip {
                visibility: hidden;
                position: absolute;
                bottom: 80%;
                left: 12%;
                background-color: #e8e8e8;
                z-index: 1;
                padding: 2px 8px;
                border-radius: 6px;
                font-size: 11px;
                color: #303f60;
            }

            &:hover .location-tooltip {
                visibility: visible;
            }
        }

        .viewApplication {
            cursor: pointer;
            background-color: $pale-blue;
            padding: 9px 15px;
            border-radius: 5px;
            text-align: center;

            p {
                font-size: 0.8rem;
                text-transform: capitalize;
            }
        }
    }
}
