@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/general.scss';

.post-form-background {
    @extend %form-background;
    z-index: -1;
    height: 24rem;
}

.postAJob {
    margin-top: -1px;

    .postJobConatainer {
        padding: 10px 6rem;

        .homeIcon {
            @extend %home-icon-container;
        }

        .formContainer {
            @extend %display-center;
            padding-top: 2rem;

            .formInnerContainer {
                @extend %inner-conatainer;

                .postAJobTitle {
                    p {
                        @extend %form-title;
                    }
                }

                .inputFields {
                    .inputFieldClild {
                        @extend %input-field;

                        textarea {
                            height: 90px;
                            resize: none;

                            &::-webkit-scrollbar {
                                width: 5px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: $light-grey;
                                border-radius: 5rem;
                            }
                        }

                        .postAJobError {
                            @extend %error-text;
                        }
                    }
                }

                .btnContainer {
                    @extend %btn-container;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .postAJob .postJobConatainer {
        padding: 10px 2rem;
    }
}
