@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.homeContainer {
    display: flex;
    justify-content: space-around;
    background-color: $desaturated-blue;
    padding: 0 1rem;

    margin-top: -1px;

    .homeHeading {
        margin-top: 5rem;
        color: $white;
        font-size: 3rem;
        margin-bottom: 40px;
        width: max-content;

        .title {
            font-weight: 500;
        }
    }

    .btn {
        font-weight: 700;
    }

    .homeImage {
        width: 622px;
        border-radius: 20px;
        background-size: contain;
        background-position-y: center;
        background-position-x: center;
        box-shadow: 0px 30px 36px $shadow-color;
        position: relative;
        top: 5rem;
    }
}

.whyUsContainer {
    padding: 8rem 8rem 4rem;

    .whyUs {
        margin-top: 50px;

        p {
            color: $desaturated-blue;
            font-size: 22px;
            text-transform: capitalize;
            font-weight: 500;
        }

        .whyUsCardContainer {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            div {
                background-color: $white;
                border-radius: 5px;
                width: 21rem;
                padding: 24px 20px;
                box-shadow: 0px 3px 6px $shadow-color;
                margin-right: 30px;

                h3 {
                    color: $light-blue;
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 30px;
                    max-width: 62%;
                    text-transform: capitalize;
                    line-height: 1.4;
                }

                p {
                    color: $desaturated-blue;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    text-transform: none;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.companies {
    padding: 2rem 8rem;

    p {
        color: $desaturated-blue;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 500;
    }

    div {
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
            height: 40px;
            margin: 5px 30px;
            flex: auto;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 950px) {
    .homeContainer {
        flex-direction: column;
        align-items: center;

        .homeHeading {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 840px) {
    .whyUsContainer {
        padding: 8rem 2rem 2rem;

        .whyUs .whyUsCardContainer {
            flex-direction: column;

            div {
                margin-right: unset;
                margin-bottom: 30px;
                width: unset;
            }
        }
    }

    .companies {
        padding: 2rem 2rem;

        div {
            justify-content: unset;

            img {
                margin: 5px 10px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .homeContainer {
        .homeImage {
            width: 20rem;
        }
    }
}

@media screen and (max-width: 340px) {
    .homeContainer {
        .homeImage {
            width: 15rem;
        }

        .homeHeading {
            font-size: 2rem;
        }
    }
}
