@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.forgot-form-background {
    @extend %form-background;
    height: 20rem;
}

.forgotPassword {
    margin-top: -1px;

    .forgotPasswordContainer {
        @extend %display-center;

        .forgotPasswordInnerContainer {
            @extend %inner-conatainer;

            .forgotPasswordTitle {
                margin-bottom: 20px;

                p {
                    @extend %form-title;
                }
            }

            .forgotPasswordDesc {
                color: $desaturated-blue;
                font-size: 14px;
            }

            .inputFields {
                .inputFieldClild {
                    @extend %input-field;

                    .forgotPasswordError {
                        @extend %error-text;
                    }
                }
            }

            .btnContainer {
                @extend %btn-container;
            }
        }
    }
}

@media (max-width: 640px) {
    .forgotPassword .forgotPasswordContainer .forgotPasswordInnerContainer {
        width: unset;
    }
}

@media screen and (max-width: 320px) {
    .forgotPassword .forgotPasswordContainer .forgotPasswordInnerContainer {
        width: 13rem;
    }
}
