@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.header-container {
    background-color: $desaturated-blue;
    padding: 12px 3rem;
    box-sizing: border-box;

    .header {
        display: flex;
        justify-content: space-between;
        border: solid $moderate-blue;
        border-width: 0 0 1px 0;
        align-items: center;
        padding-bottom: 12px;

        min-height: 55px;

        .navTitle {
            display: flex;
            font-size: 22px;
            font-weight: 700;
            align-items: center;
            cursor: pointer;
        }

        .navBtn {
            cursor: pointer;
            color: $white;
            background-color: $very-light-blue;
            border: 1px solid $light-blue;
            padding: 13px 23px;
            border-radius: 5px;

            font-weight: 700;
        }
    }

    .jobSection {
        display: flex;
        align-items: center;

        .jobText {
            color: $white;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }

        .user {
            margin-left: 40px;
            display: flex;
            align-items: center;

            .userProfile {
                background-color: $very-pale-blue;
                padding: .5rem 1rem;
                border-radius: 50%;
                margin-right: 10px;
            }

            img {
                height: 18px;
                cursor: pointer;
            }
        }

        .logoutTile {
            background-color: $white;
            padding: 10px 15px;
            border-radius: 5px;
            position: absolute;
            top: 75px;
            right: 75px;
            cursor: pointer;

            @keyframes slideTopToBottom {
                0% {
                    transform: translateY(-50%);
                }
                100% {
                    transform: translateY(0);
                }
            }

            animation: 0.3s ease-out slideTopToBottom;

            p {
                color: $desaturated-blue;
                font-size: 14px;
            }
        }
    }
    .successfullLogout {
        background-color: $white;
        border-radius: 5px;
        padding: 15px;
        position: absolute;
        top: 6rem;
        right: 3rem;
        box-shadow: 0px 3px 6px $shadow-color;
        z-index: 2;

        @keyframes slideRightToLeft {
            0% {
                transform: translateX(-50%);
            }
            100% {
                transform: translate(0);
            }
        }

        animation: 0.3s ease-out slideRightToLeft;

        img {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }

        div {
            .first {
                color: $light-blue;
                font-size: 24px;
                font-weight: 500;
            }

            .second {
                color: $desaturated-blue;
                font-size: 17px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .header-container .jobSection {
        flex-direction: column-reverse;

        .user {
            margin-left: unset;
        }
    }
}
