@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.login-form-background {
    @extend %form-background;
    height: 20rem;
}

.login {
    margin-top: -1px;

    .loginContainer {
        @extend %display-center;

        .loginInnerContainer {
            @extend %inner-conatainer;

            .loginTitle {
                p {
                    @extend %form-title;
                }
            }

            .inputFields {
                .inputFieldClild {
                    @extend %input-field;

                    .loginError {
                        @extend %error-text;
                    }
                }
            }

            .btnContainer {
                @extend %btn-container;
            }

            .createNewAccount {
                @extend %form-bottom-link;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .login .loginContainer .loginInnerContainer {
        width: unset;
    }
}

@media screen and (max-width: 320px) {
    .login .loginContainer .loginInnerContainer {
        width: 13rem;
    }
}
