@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.dashboard-form-background {
    @extend %form-background;
    height: 6rem;
    z-index: -1;
}

.dashboard {
    margin-top: -1px;

    .dashboardContainer {
        .dashboardInnerContainer {
            padding: 10px 6rem;

            .homeIcon {
                @extend %home-icon-container;
            }

            h2 {
                font-weight: 500;
                color: $white;
                font-size: 22px;
            }

            .noJobContainer {
                display: grid;
                place-items: center;

                .noJob {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    top: 50%;
                    margin: 0 auto;

                    img {
                        margin-bottom: 20px;
                    }

                    .text {
                        color: $desaturated-blue;
                        font-size: 20px;
                        margin-bottom: 40px;
                        text-align: center;
                    }
                }
            }

            .jobContainer {
                margin: 20px 0;
                // display: flex;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                flex-wrap: wrap;
            }

            .jobCardNav {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                top: 30%;
                margin: 6rem 0 4rem;

                div {
                    height: 30px;
                    width: 30px;
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                }

                .currentPage {
                    background-color: $very-light-blue;
                    border: 1px solid $very-light-blue;

                    cursor: pointer;

                    p {
                        font-size: 13px;
                        font-weight: 700;
                        color: $desaturated-blue;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .dashboard {
        .dashboardContainer {
            .dashboardInnerContainer {
                padding: 10px 2rem;
            }
        }
    }
}

@media (max-width: 1260px) {
    .dashboard {
        .dashboardContainer .dashboardInnerContainer .jobContainer {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .jobCardNav {
            top: auto;
        }
    }
}

@media screen and (max-width: 980px) {
    .dashboard {
        .dashboardContainer .dashboardInnerContainer .jobContainer {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 740px) {
    .dashboard {
        .dashboardContainer .dashboardInnerContainer .jobContainer {
            grid-template-columns: 1fr;
        }
    }
}
