@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.signup-form-background {
    @extend %form-background;
    height: 25rem;
}

.signUp {
    margin-top: -1px;

    .signUpContainer {
        @extend %display-center;

        .signUpInnerContainer {
            @extend %inner-conatainer;
            margin-bottom: 20px;

            .signUpTitle {
                margin-bottom: 30px;

                p {
                    @extend %form-title;
                }
            }

            .inputFields {
                .who {
                    color: $desaturated-blue;
                    font-size: 14px;
                }

                .inputFieldBox {
                    display: flex;
                    justify-content: space-between;
                }

                .inputFieldClild {
                    @extend %input-field;

                    flex: 0.49;
                }
                .signUpError {
                    @extend %error-text;
                }
            }
            .btnSelection {
                margin: 8px 0px 20px;
                display: flex;
                justify-content: flex-start;

                div {
                    padding: 15px 17px;
                    margin-right: 20px;

                    img {
                        height: 24px;
                        margin-right: 10px;
                    }
                }
            }
            .btnContainer {
                @extend %btn-container;
            }

            .haveAccount {
                @extend %form-bottom-link;
            }

            .somethingWentWrong {
                @extend %error-text;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .signUp .signUpContainer .signUpInnerContainer {
        width: auto;

        .inputFields .inputFieldBox {
            display: unset;

            .inputFieldClild:first-child {
                margin-right: unset;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .signUp .signUpContainer .signUpInnerContainer .btnSelection div {
        padding: 8px 4px;
    }
}

@media screen and (max-width: 320px) {
    .signUp .signUpContainer .signUpInnerContainer {
        width: 13rem;

        .btnSelection {
            display: unset;

            div {
                margin-right: unset;

                &:first-of-type {
                    margin: 10px 0;
                }
            }
        }
    }
}
