@import '../../assets/scss/colors.scss';
@import '../../assets/scss/general.scss';

.reset-form-background {
    @extend %form-background;
    height: 19rem;
}

.reset {
    margin-top: -1px;

    .resetContainer {
        @extend %display-center;

        .resetInnerContainer {
            @extend %inner-conatainer;

            .resetTitle {
                margin-bottom: 20px;

                p {
                    @extend %form-title;
                }
            }

            .resetDecs {
                color: $desaturated-blue;
                font-size: 14px;
            }

            .inputFields {
                .inputFieldClild {
                    @extend %input-field;

                    .resetError {
                        @extend %error-text;
                    }
                }
            }

            .btnContainer {
                @extend %btn-container;
            }
        }
    }
}

@media (max-width: 640px) {
    .reset .resetContainer .resetInnerContainer {
        width: unset;
    }
}

@media screen and (max-width: 320px) {
    .reset .resetContainer .resetInnerContainer {
        width: 13rem;
    }
}
