@import './assets/scss/colors.scss';
@import './assets/fonts/index.scss';

* {
    padding: 0;
    margin: 0;
    user-select: none;

    font-family: 'Poppins', sans-serif !important;
}

html {
    background-color: $pale-blue;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-grey;
        border-radius: 5rem;
    }
}

.come-to-front {
    z-index: 5;
}

input,
textarea {
    background-color: $very-light-grey;
    outline: none;
    border-radius: 5px;
    border: 1px solid $light-grey;
    padding: 15px;

    &:focus {
        border-color: $light-blue;
    }
}

img {
    -webkit-user-drag: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.required {
    color: $red;
}
